.App {
  text-align: center;
}
body {
  background: black;
}
h2,h1,h3,h4,h5,h6 {
  color: white;
}
p {
  color: white;
}
/* HEADER */
.main_header {
  background-color: #1d1d1d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_wrapper {
  width: 10%;
}
.menu_items {
  width: 45%;
  display: flex;
  align-items: center;
}
.menu_item {
  /* width: 2%; */
}
.menu_item h2 {
  color:#919191 ;
  font-size: .85em;
  margin-left: 15px;
}
.search_wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #333;
  border-radius: 20px;
}
.search_icon {
  color: #919191;
  margin-left: 15px;
}
input[type="search"] {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  color: #919191;
  width: 250px;
}
.search_wrapper ::placeholder {
  color: #919191;
  font-weight: 600;
}
.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: 2.75em;
  font-weight: 700;
  color: white;
  text-align: center;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}


.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
   /* max-width: 25%;
  height: 100%;  */
}
.movie img {
  max-height: 290px;
  width: 100%;

}
.movie_wrapper {
  border: 1px solid white;
  border-radius: 10px;
  border-width: 3px;
  height: 300px;
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}