.App {
  text-align: center;
}
.banner__section {
  text-align: center;
}
body {
  background: black;
}
h2,h1,h3,h4,h5,h6 {
  color: white;
}
p {
  color: white;
}
.divider {
  width: 85%;
  margin: 0 auto;
  height: 1px;
  margin-top: 40px;
  background:rgba(255,255,255,.2);
}
/* HEADER */
.main_header {
  z-index: 9999;
  background-color: #1d1d1d;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.nav {
  background-color: #1d1d1d;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.2);
  z-index: 999999;
}
.logo_wrapper {
  width: 10%;
}
.menu_items {
  display: flex;
  align-items: center;
}
.menu_item {
  margin-left: 14px;
}

.menu_item h2 {
  color:#919191 ;
  font-size: .85em;
  margin-left: 15px;
}
.search_wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #333;
  border-radius: 20px;
}
.search_icon {
  color: #919191;
  margin-left: 15px;
}
input[type="search"] {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  color: #919191;
  width: 250px;
  height: 35px;
}
.search_wrapper ::placeholder {
  color: #919191;
  font-weight: 600;
}
.spinner {
  height: 80px;
  margin: auto;
}
/* HEADER END */


/* FOOTER */
.footer_wrapper {
  background: #171717;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #2f2f2f;
  height: 70px;
}

.App-intro {
  font-size: 2.75em;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 80px
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  margin:0 auto;
  margin-bottom: 20px;
  padding: 5px;
}
.movie {
  margin-top: 30px;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}


.movie img {
  height: 295px;
  width: 100%;
  padding: 2px;
}
.movie_wrapper_overlay {
  border: 3px solid #6ac045 !important;
  border-radius: 10px;
  border-width: 3px;
  height: 300px;
  width: 73%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
.movie__overlay_content{
  position: absolute;
  top:3px;
  left:3px;
  width:99%;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column wrap;
  cursor: pointer;
}

.details_button__wrapper{
  top: 70%;
  left: 20%;
  position: absolute;
  animation-name: oeverlay_button_slide;
  animation-duration: .25s;
  transition: animation-name ease-in-out;
}
@keyframes oeverlay_button_slide {
  from {transform: translate(0px,25px)}
  to {transform: translate(0px,0px)}
}
.overlay_border{
  border: 4px solid #6AC045 !important;
}
.button {
  padding: 5px 12px 5px 12px;
  background: #6AC045;
  color: white;
  border: 1px solid #6AC045;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}
.button {

}
.movie_wrapper {
  border: 3px solid white;
  border-radius: 3px;
  border-width: 3px;
  height: 300px;
  width: 73%;
  margin: 0 auto;
  position: relative;
}
.movie__title_tag {
  width: 73%;
  margin: 0 auto;
  margin-top: 10px;
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
  .App-intro {
    font-size: 20px;
    font-weight: 600;
  }
}

/* MOVIE DETAILS */
.section_block  {
  margin: 0 auto;
  width: 80%;
  margin-top: 60px;
}
.movieDetailWrapper {
  display: flex;
  justify-content: space-between;
}
.movieDetailWrapper .main_content{
  flex: 0 0 50%;
}
.movieDetailWrapper .small{
  flex: 0 0 25%;
}
.vpn__wrapper {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #75C74E;
  background: #000000;
  padding: 10px 12px;
  border-radius: 4px;
}
.vpn__para {
  color: #ABCC06;
  text-align: justify;
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
}
.button_wrapper_movie_details{
  margin: 0 auto;
  width: 90%;
}
.button_wrapper_movie_details button {
  width: 100%;
  margin-top: 10px;
  cursor: pointer
}
.details_main_content_wrapper {
  margin: 0 auto;
  width: 80%;
}
 .similar_movies_header{
  font-weight: 700;
  font-size: 16px;
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #fff;
 }
.transparent {
  background: rgba(27,27,35,.4) !important;
  border: 1px solid rgba(255,255,255,.16);
  font-size: .8em !important;
  padding: 5px 12px !important;
}
.italics__text {
  font-style: italic;
}
.movieDetailsHeader{
  font-size: 2.5em;
  margin-bottom: 24px;
  line-height: 42px;
 }
 .h2 {
  line-height: 24px;
  font-size: 1.25em;
 }
 .account_link{
   cursor: pointer;
 }
 /* PAGINATOR */

 .paginatorWrapper {
   margin: 0 auto;
   width: 73%;
 }
 .paginatorButtonsWrapper {
   text-align: center;
   margin-top: 30px;
 }
 .disabled_button {
  cursor: not-allowed !important;
  background:lightgray !important;
  color: #0000004a;
  border: 1px solid lightgray !important;
 }
 /* Modal */
 .modal_wrapper {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left:0;
 }
 .modal_main {
   position: fixed;
   top:50%;
   left: 50%;
   background: white;
   height: auto;
   transform: translate(-50%,-50%);
   width: 40%;
   min-height: 400px;
 }
 .display-block {
    display: block;
  }

.display-none {
  display: none;
}